html,
body {
  @extend .h-100;

  // https://mzl.la/2KnTfHh
  // size/line-height | family
  font: 20px/1 'Open Sans', Arial, Helvetica, sans-serif;
}

#app {
  @extend .h-100;
}

.input-search {
  @extend .f-inherit;
  @extend .ph2;
  @extend .pv1;

  font-family: inherit;
  outline: none;
}

.search-results {
  @extend .ba-1px;
  @extend .h-100;
}
